<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <div *ngFor="let character of characters?.results">
    <p>{{character?.name}}</p>
    <ion-button 
      color="success"
      (click)="detalle(character)"
    >Ver</ion-button>
  </div>
</ion-content>

